<!-- author username -->
<h2>Welcome on {{blogAuthorUsername}} Blog!</h2>

<!-- list of posts -->
<div class="list-of-posts">
    @for(post of blogAuthorPosts; track post.title) {
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-description">{{ post.description }}</p>
        <p class="post-date">{{ post.createdAt?.toDate() | date:'short' }}</p>
        @if(post.imageUrl) {
        <img [src]="post.imageUrl"
             alt="Post image" />
        }
        <div class="post-comments">
            <h1>Add Comment</h1>
            <form #form="ngForm"
                  (ngSubmit)="addComment(post.id)">
                <input type="text"
                       name="new-comment"
                       id="new-comment"
                       [(ngModel)]="newComment"
                       placeholder="Type a comment..." />
                <button type="submit">Add Comment</button>
            </form>

            @for(comment of post.comments; track comment.id) {
            <div class="comment">
                <img [src]="comment.photoURL"
                     alt="Post image" />
                <p class="comment-author">{{ comment.author }}</p>
                <p class="comment-content">{{ comment.text }}</p>
                <p class="comment-date">{{ comment.createdAt.toDate() | date:'short' }}</p>

            </div>
            }
        </div>
    </div>
    }
</div>
