<!-- switch edit mode -->
<button class="switch-mode"
        (click)="switchEditMode()">{{blogService.isEditMode() ? 'Edit Mode Off' : 'Edit Mode'}}</button>

<!-- add post  -->
@if(!blogService.isEditMode()) {
<form class="add-post-form"
      #form="ngForm"
      (ngSubmit)="addPost(title, description)">
    <input class="add-post-title"
           type="text"
           name="title"
           id="title"
           placeholder="Title"
           [(ngModel)]="title"
           required>
    <textarea class="add-post-description"
              name="description"
              id="description"
              placeholder="Description"
              [(ngModel)]="description"
              required></textarea>
    <input type="file"
           (change)="onFileSelected($event)" />
    <button type="submit">Add Post</button>
</form>
}

@if(blogService.isEditMode()) {
<h1>In edit mode you can edit or remove your posts</h1>
}

<!-- list of posts -->
<div class="list-of-posts">
    @for(post of blogPosts; track post.title) {
    <div class="post">
        @if(editingPost === post) {
        <input class="edit-post-title"
               type="text"
               name="edit-title"
               id="edit-title"
               placeholder="Edit title"
               [(ngModel)]="editTitle"
               required>
        <textarea class="edit-post-description"
                  name="edit-description"
                  id="edit-description"
                  placeholder="Edit description"
                  [(ngModel)]="editDescription"
                  required></textarea>
        <button (click)="editPost()">Save Changes</button>
        } @else {
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-description">{{ post.description }}</p>
        <p class="post-date">{{ post.createdAt?.toDate() | date:'short' }}</p>
        @if(post.imageUrl) {
        <img [src]="post.imageUrl"
             alt="Post image" />
        }
        @if(blogService.isEditMode()) {
        <a (click)="removePost(post)"
           class="post-remove"><i class="fa-solid fa-trash-can"></i></a>
        <a (click)="startEditing(post)"
           class="edit-post"><i class="fa-solid fa-pen"></i></a>
        }
        }
        <div class="comments">
            <h3 class="comments-title">{{ post.comments.length }} Comments</h3>
            @for(comment of post.comments; track comment.id) {
            <div class="comment">
                <div class="comment-avatar">
                    <img [src]="comment.photoURL"
                         alt="User avatar" />
                </div>
                <div class="comment-body">
                    <div class="comment-header">
                        <h4 class="comment-author">{{ comment.author }}</h4>
                        <span class="comment-date">{{ comment.createdAt.toDate() | date:'short' }}</span>
                    </div>
                    <p class="comment-content">{{ comment.text }}</p>
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>
